* {
  margin: 0;
  padding: 0;
  background-color: beige;
}
.hello,
.pTag,
.buttonContainer,
.list,
.secHeading {
  text-align: center;
  margin: 2%;
}
.btnType {
  padding: 10px;
  border-radius: 2px;
  border: none;
  background-color: black;
  color: whitesmoke;
}
.list {
  list-style: none;
}
.item {
  color: cornflowerblue;
  /* font-weight: 600; */
  margin: 5px 0;
  font-size: 30px;
}
.welcome {
  color: olive;
  background-color: lightseagreen;
}
.secHeading {
  color: rgb(3, 3, 71);
}
